* {
   /*border: 1px solid red !important;*/
}

/*image slider as seen at https://www.w3schools.com/bootstrap/bootstrap_carousel.asp*/
.carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
     max-width: 50%;
     max-height: auto;
     margin: auto;
 }

#myCarousel {
  margin-top: 70px;
}

#img-size {
  max-width: 40%;
  max-height: auto;
  margin: auto;
}

/*hide when clicked on book details*/
.hide-section {
  display: none;
}

.row {
  margin-left: 20px;
  margin-right: 20px;
}

.img-responsive {
  /*padding-left: 20px;*/
  float: left;
  max-width: 40%;
  max-height: auto;
  margin-right: 10px;
}

.preview-section {
  max-width: 50%;
}

.previewed-img {
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
  opacity: 0.5;
   filter: alpha(opacity=50); /* For IE8 and earlier */
  padding-bottom: 3em;
}

.brand {
  font-size: 1em;
  text-align: center;
  padding: 0 0 0 1em;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  bottom: 0;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<mobile>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<          >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (max-width: 480px) {
  .preview-section {
    display: none;
  }

  #img-size {
    max-width: 100%;
  }
}
